body{
font-family: 'Open Sans', sans-serif;
margin:0 auto;
width:960px;
}
header{
	background-image:url("images/coffee-beans.jpg");
	height:100px;
}
.hero{
	text-align: left;
	color:rgba(256,256,256,0.8);
	margin-left:30px;
	margin-top:30px;
	font-size:50px;

}
.con{
	background-color:#e6e2d3;
	height:60vh;
	padding-top:20px;
}
.aside{
width:280px;
float:right;
background-color:tan;
text-align:center;
font-weight:bold;
padding:20px;
margin-left:20px;
}
h1,h2,h3{
color:brown;
margin-top:20px;
padding-bottom: 20px;
padding-top: 20px
font-weight:bold;
}

ul{
list-style-image:url("images/tiny-coffee-cup.gif")
}

.navbar-light .navbar-nav .nav-link{
	color:white;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
	color: white;
}

nav a:hover{
	background-color:black;
}

footer nav a:link,footer nav a:visited{
	color:gray;
	background-color:white;
}
footer nav a:hover{
	color:black;
}


.photo-left{
	float:left;
	margin-right:20px;
}


footer{
	margin:40px 0;
}

td,th{
border:1px solid black;
width:20%;
text-align:center;
padding:5px;
}
table{
	border-collapse:collapse;
}
video{
	margin-bottom:20px;
	margin-left:160px;
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
}
